<h1><%= @plant.species %></h1>
<div>

  <p> Status: <%= @plant.Status %> </p>
  <p> Price: <%= @plant.Pricing %> </p>

<button class = "btn btn-primary" >
<%#= link_to "Book a Plant", new_rental_path %>
</button>
<%= link_to "Back to Plants", plants_path %>

</div>
